body{
    color: aliceblue;
    background-color: rgb(19, 38, 71);

}
ul{
    list-style-type: none;
}
a{
    color:white;
    text-decoration: none;
    
}
h1 {
    color: orange;
}
h1{
    color: orange;
}